#map {
    width: 100%;
    height: 700px
}

li {
    list-style-type: none;
}

.w3-bar-item {
    display: block;
}


.checked {
    color: orange;
}

.is_null{
 
    color: grey;
}